body{
	color: #fb5;
	background-color: #334;
}
a:link{
	color: #445;
	background-color: #eb6;
}
a:visited{
	color: #345;
	background-color: #eb6;
}
a:hover{
	color: #667;
	background-color: #fb5;
}
a:active{
	color: #778;
	background-color: #ec8;
}
header{
	color: #ec8;
	background-color: #334;
	border-color:#667;
}
header nav{
	color: #455;
	background-color: #789;
	border-color:#667;
}
article{
	color: #223;
	background-color: #edc;
	border-color:#667;
}
header nav ul{
	border-color: #99a;
}
header nav a:link,header nav a:visited{
	color: #eef;
	background-color: transparent;
	border-color: #99a;
}
header nav a:hover{
	color: #445;
	background-color:#eb6 ;
}
header nav a:active{
	color: #667;
	background-color:#ec8 ;
}
article img{
	border-color: #ba9;
	outline-color:#dcb ;
}
#imagegallery a{
	background: transparent;
}
/*---------------------------页面突出显示-------------------------------*/
header nav a.here:link,
header nav a.here:visited,
header nav a.here:hover,
header nav a.here:active{
	color: #eef;
	background-color: #799;
}

/*----------------------------------table------------------------------*/
td{
	padding: .5em 3em;

}
th{
	color: #edc;
	background: #445555;

}
tr td{
	color: #223;
	background: #eb6;
}
tr.odd td {
	color: #222233;
	background:  #EECC88;
}
tr.highlight td {
	color: #222233;
	background:  #cba;
}
/*--------------from------------------*/
input.placeholder{
	color: #ff0000;
}
